*,
::after,
::before {
    padding: 0;
    margin: 0;
} 

body
{
    font-family: serif, sans-serif, monospace;
    font-size: 20px;
    color: black;
}

main h1,
h2,
h3 {
    margin: 5%;
}

p {
    margin: 5px;
}

li a {
    color: #ffffff;
}

.container {
    display:grid;
}

.blog-nav {
    display: none;
}

.degrade {
    background-image: linear-gradient(45deg, #aa9fc1,#4d475b);
    color: #ffffff;
}

a {
    text-decoration: none;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

img .social {
    width: 24px;
    height: 24px;
}

figcaption {
    text-align: center;
    font-style: oblique;
}

.link-post {
    color: #ffffff;
    background-image: linear-gradient(45deg, #051744,#0049ff);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 20px;
    border: 2px solid green;
    border-radius: 10px;
    padding: 5px;
}