.container {
    grid-template-areas: 
      "hd hd hd"
      "sd main main"
      "sd ft ft";
    grid-template-columns: 300px 1fr 1fr;
}

.blog-header {
    grid-area: hd;
    display: flex;
    justify-content: space-evenly;
}

.blog-header nav{
    width: 30%;
}

.blog-nav {
    display: block;
    grid-area: sd;
    border: 2px solid #9086a4;
    background-color: #7d7590;
    text-align: center;
    line-height: 50px;
}

.blog-nav li {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 10px;
    list-style: none;
}

.blog-nav li:hover {
    border: 1px dashed #ffffff;
    background-color: #aa9fc1;
    cursor: pointer
}

.blog-main {
    grid-area: main;
}

.blog-footer {
    grid-area: ft;
}

.blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

