.blog-footer {
    padding: 3em 0 1em 0;
    margin-top: 5px;
}

.blog-footer li {
    list-style-type: none;
}

.blog-footer a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.blog-footer nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.blog-stars {
    text-align: right;
}

.blog-post-card footer {
    margin-top: 15px;
}