.blog-header {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0; 
    justify-content: center;
    z-index: 2;
}
.blog-header li {
    display: inline-flex;
    box-shadow: 10px 10px 90px 0px rgba(122,65,65,0.75);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid;
}

.blog-header li:hover {
    background-color: #0049ff6e;
    border: 2px dashed;
}

.blog-header nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.blog-header ol {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

