.blog-post-card {
    padding: 15px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;
    margin: 10px;
}

.blog-post-card header {
    display: flex;
    justify-content: space-between;
}

.main-header {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-post-content p {
    text-align: justify;
    text-justify: inter-word;
}

.blog-photo {
    margin: 15px;
}

.blog-photo img {
    width: 100%;
    max-height: 300px;
    border-radius: 5px;
}

header h2 {
    color: blue;
}

.blog-main h1 {
    text-align: center;
    margin: 30px;
}